doctype

html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="Pragma", content="no-cache")
        meta(http-equiv="Cache-Control", content="no-cache")
        meta(http-equiv="Expires", content="0")

        title
            =systemname
        
        link(href="./framework/bootstrap/dist/css/bootstrap.min.css", type="text/css",rel="stylesheet")
        link(href="./styles/common.css", type="text/css", rel="stylesheet")
        
        script(src="./framework/es6-shim/es6-shim.min.js")
        script(src="./framework/angular2/bundles/angular2-polyfills.js")
        script(src="./framework/systemjs/dist/system.js")
        script(src="./framework/rxjs/bundles/Rx.min.js")
        script(src="./framework/angular2/bundles/angular2.dev.js")
        script(src="./framework/angular2/bundles/router.min.js")
        script(src="./framework/angular2/bundles/http.min.js")
        script(src="./framework/socket.io/socket.io.js")
        script(src="./framework/jquery-2.2.0.min.js")
        script(src="./framework/bootstrap/dist/js/bootstrap.min.js")
        script(src="./scripts/config.js")
        script.
        
            System.import("scripts")
                .then(null, console.error.bind(console));
        
    body
        angular-app Loading...
