<div class="chat-message border-bottom-1" *ngFor="#msg of messages" [class.unread]="msg.message.isUnread">
    <p class="wrap" [innerHTML]="msg.message.data | link" *ngIf="msg.message.isText"></p>
    <p *ngIf="msg.message.isImage">
        <button type="button" *ngIf="user.isSecret && !msg.dispforce" class="btn btn-default btn-xs btn-block"
            (click)="msg.dispforce=true;" [title]="msg.message.title">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button type="button" *ngIf="user.isSecret && msg.dispforce"
            class="btn btn-default btn-xs btn-block margin-bottom-5" (click)="msg.dispforce=false;">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <a [href]="createMaterialsPath(msg.message)" target="_blank" *ngIf="!user.isSecret || msg.dispforce">
            <img [src]="createMaterialsPath(msg.message)" [title]="msg.message.title" style="max-width:100%;" />
        </a>
    </p>
    <p *ngIf="msg.message.isVideo">
        <button type="button" *ngIf="user.isSecret && !msg.dispforce" class="btn btn-default btn-xs btn-block"
            (click)="msg.dispforce=true;" [title]="msg.message.title">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button type="button" *ngIf="user.isSecret && msg.dispforce"
            class="btn btn-default btn-xs btn-block margin-bottom-5" (click)="msg.dispforce=false;">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <video [src]="createMaterialsPath(msg.message)" [title]="msg.message.title"  *ngIf="!user.isSecret || msg.dispforce"
            style="max-width:100%;" preload="metadata" controls></video>
    </p>
    <p *ngIf="msg.message.isFile">
        <a [href]="createMaterialsPath(msg.message)" [download]="msg.message.title">
            {{msg.message.title}}
        </a>
    </p>
    <p *ngIf="msg.message.isUnread">
        {{msg.message.data}}
    </p>
    <p class="text-right text-muted" *ngIf="!msg.message.isUnread">
        <small>
            {{msg.user.fullname}}
            ({{msg.time | date:"medium"}})
        </small>
    </p>
</div>
